/.venv
/.venv310
/2025-07-07T01-49_export.csv
/all.py
/all2.py
/all3.py
/all4.py
/all5.py
/all6.py
/app1.py
/beam_diagram_fixed.png
/change.py
/clean_and_moment.py
/DA22340_森本遥香_中間報告書.docx
/DA22340_森本遥香_中間報告書.pdf
/dataset
/dataset_obb
/demo.py
/demo2.py
/demo3.py
/detectionedge.py
/detectionedge2.py
/draw_lib.py
/drive-download-20250930T135434Z-1-001
/fem.py
/fem_lib.py
/figure1.png
/figure2.png
/grid.pdf
/grid.py
/grid2.py
/hough6.py
/hyp.yaml
/imagedetection11.py
/imagedetection12.py
/imagedetection_1.py
/imagedetection_2.py
/imagedetection_app.py
/imagedetection_app2.py
/imagedetection_app3.py
/imagedetection_app4.py
/imagedetection_app5.py
/imagedetection_app6.py
/imagedetection_new.py
/imagedetection_update.py
/itemize.py
/json_output
/kivy_UI_test.py
/labelimg_venv_stable_2
/labelimg_venv_stable_3
/labeling10.py
/labeling11.py
/labeling12.py
/labeling13.py
/labeling14.py
/labeling15.py
/labeling2.py
/labeling3.py
/labeling4.py
/labeling5.py
/labeling6.py
/labeling7.py
/labeling8.py
/labeling9.py
/labelme2yolo.py
/line.py
/line10.py
/line11.py
/line12.py
/line13.py
/line14.py
/line15.py
/line16.py
/line17.py
/line18.py
/line19.py
/line2.py
/line3.py
/line4.py
/line5.py
/line6.py
/line7.py
/line8.py
/line9.py
/linedetection.py
/linedetectionpicture.jpg
/linedetection_color.py
/linedetection_color2.py
/linedetection_hough.py
/linedetection_scale.py
/linedetection_scale2.py
/linedetection_scale3.py
/linedetection_scale4.py
/linedetection_scale5.py
/linedetection_scale6.py
/linedetection_scale7.py
/linedetection_scale8.py
/line_detection.py
/line_detection2.py
/line_detection3.py
/line_detection4.py
/line_detection5.py
/line_detection6.py
/masuari1.jpg
/masuari3.jpg
/matrics.py
/matrics2.py
/matrics3.py
/my_beam_analysis.py
/new
/output
/output.png
/output_cleaned.png
/output_overlay.png
/output_streamlit
/photos
/polygon2obb.py
/predefined_classes.txt
/project
/result.jpg
/rewrite.py
/rewrite1.py
/rewrite2.py
/runs
/sample1.jpg
/scale1.jpg
/scale2.jpg
/scale3.jpg
/scaledetection.py
/scaledetection2.py
/scaledetection3.py
/seisyo.py
/seisyo2.py
/seisyo3.py
/seisyo4.py
/seisyo5.py
/seisyo7.py
/seisyosample.py
/S__69599235.jpg
/templates
/temp_image.png
/temp_input.png
/tf_venv
/torasu5.py
/train
/train.py
/train4.py
/train5.py
/trainver2.py
/trainver3.py
/triangle.py
/trimanddetect.py
/valid - ショートカット.lnk
/venv
/yolov8m-obb.pt
/yolov8m.pt
/yolov8n-obb.pt
/yolov8s.pt
/yolo_labels
/yolo_obb_to_json.py
/__pycache__
/２５＿ＤＡ２２３４０＿森本遥香.pdf
/２５＿ＤＡ２２３４０＿森本遥香.pptx
!runs/obb/train28/weights/best.pt
